<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manage.hospital.hmapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity
            android:name=".view.doctor.DoctorMainActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name="com.manage.hospital.hmapp.view.RegistrationActivity"
            android:launchMode="singleTop"
            android:label="Registration" >
        </activity>

        <activity
            android:name=".view.doctor.DoctorRegistrationActivity"
            android:launchMode="singleTop"
            android:label="Registration For Doctor" >
        </activity>

        <activity
            android:name=".view.patient.PatientRegistrationActivity"
            android:launchMode="singleTop"
            android:label="Registration For Patient" >
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.view.LoginActivity"
            android:launchMode="singleTop"
            android:label="Login">
        </activity>

        <activity
            android:name="com.manage.hospital.hmapp.view.HomeActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".view.doctor.AppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.patient.PatientAddAppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.patient.PatientAppointmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.doctor.AppointmentDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.doctor.PatientActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.patient.DoctorDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.patient.ActivityHealthDataRequests"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.patient.PatientMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme" />

        <activity
            android:label="Emergency Contact"
            android:name=".view.patient.ManageEmergencyContactActivity" >
        </activity>
        <activity
            android:label="Appointment"
            android:name=".view.patient.ManageAppointmentActivity" >
        </activity>
        <activity
            android:name=".view.patient.PatientSourceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.doctor.PatientDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.patient.PatientAddDoctorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.patient.FitbitActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".view.patient.DoctorActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".view.patient.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.patient.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName=".view.patient.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.patient.ReminderMainActivity" />
        </activity>
        <activity
            android:name=".view.patient.EditViewActivity"
            android:label="@string/title_activity_edit_task"
            android:parentActivityName=".view.patient.EditViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.patient.ReminderMainActivity" />
        </activity>
        <activity
            android:name=".view.patient.ViewTaskActivity"
            android:label="@string/title_activity_view_task"
            android:parentActivityName=".view.patient.ReminderMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.patient.ReminderMainActivity" />
        </activity>
        <activity
            android:name=".view.patient.AlarmActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Extras.broadcast_receiver.Alarm_Receiver" />

        <service
            android:name=".Extras.broadcast_receiver.RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".Extras.fitbit.FitbitTokenResponse"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="hospapp" android:host="callbackresponse"/>
            </intent-filter>
        </activity>
        <service android:name=".Extras.broadcast_receiver.FallDetectService"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>